**/__pycache__/
*.pyc
**/.ipynb_checkpoints/
.venv/
.env
**/.DS_Store

# Files not intended for public visibility
Literature/
Notebooks/1b396a2187182a4aebf5078982f8207c-57134e5ac6bcbe50b124cf57bfe6b6b57c12a229/
Notebooks/SpensoExample.ipynb
Notebooks/first.ipynb
Notebooks/playground.ipynb
Notebooks/spenso_and_idenso.ipynb
wolframnotebook/
code/LagrangainArchitecture.py
code/prototype_terms.py
first_playground/
